<!-- LOGIN FORM -->
<div id="global-error">
    <span class="help-block hidden"></span>
</div>
<div class="form-group">
    <label for="username" class="sr-only">User</label>
    <input type="text" id="username" class="form-control" placeholder="username" required="" autofocus="" autocomplete="off">
    <span class="help-block hidden"></span>
</div>
<div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="password" required="" autocomplete="off">
    <span class="help-block hidden"></span>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit" id="login"><span class="fa fa-sign-in"/> Log In</button>
<div class="form-group">
    <h5 class="pull-right">new user? <a bb-href="auth/register">create new account</a></h5>
    <!--<h5 class="pull-right">forgot your password? <a bb-href="auth/restore">click here</a> / new user? <a bb-href="auth/register">create new account</a></h5>-->
</div>
