<div class="jumbotron">
    <h1>#1 Business Tool</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-sm btn-primary" bb-href="auth/login" role="button">Log In</a> <a class="btn btn-sm btn-success" bb-href="auth/register" role="button">Register</a></p>
</div>